* {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-image: url(../images/background.png);
  height: auto;
  max-width: 100%;
  background-size: cover;
}

header > ul {
  list-style-type: none;
  margin: 0 200px;
  padding: 40px;
  overflow: hidden;
  background-color: none;
}

ul li {
  float: right;
}

ul > a > img {
  padding: 5px 30px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  background-color: #111111;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.hero > h1 {
  font-size: 150px;
  margin-top: 200px;
  font-weight: bold;
  color: white;
}

.hero > p > span {
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  font-size: 18px;
}

.hero > button {
  background-color: rgb(201, 82, 201);
  color: whitesmoke;
  font-size: 14px;
  padding: 15px 32px;
  border: none;
  border-radius: 26px;
  margin: 50px 10px;
  letter-spacing: 0.1px;
  cursor: pointer;
  box-shadow: 0px 4px 8px black;
}

.button-hover {
  cursor: pointer;
}

.button:hover {
  background-color: blueviolet;
  cursor: pointer;
  transition: 0.3s ease;
}

.pros-h2 {
  margin-top: 160px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.pros img {
  width: 180px;
  height: auto;
  border-radius: 50%;
}

.pros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pro-card {
  padding: 20px;
  margin: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.pro-card > h3 {
  padding: 5px;
  margin-top: 10px;
}

.pro-card > p {
  padding: 5px;
  font-style: italic;
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgb(241, 147, 241);
}

.quote > img {
  height: 150px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.quote-words {
  margin: 30px;
  padding: 30px;
}

.quote-words > p {
  padding: 5px;
  color: white;
}

.quote-words > blockquote {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  font-style: italic;
}

.smiles-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.smiles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorials img {
  width: 255px;
  height: 154px;
  object-fit: cover;
  object-position: middle center;
}

.tutorials > h1 {
  text-align: center;
  padding: 20px;
  margin: 50px;
}

.tutorials {
  margin-top: 50px;
}

.avatar-image img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.stars {
  height: 20px;
  width: 20px;
  display: flex;
}

.stars img {
  height: 20px;
  width: 20px;
}

.smile {
  padding: 25px;
  height: 355px;
  width: 255px;
  margin: 10px;
}

.smile h2 {
  font-weight: bold;
  font-size: 16px;
}

.smile {
  font-size: 14px;
  line-height: 24px;
}

.smile p {
  color: #5d6064;
}

.avatar-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.avatar-image > h3 {
  color: rgb(186, 61, 186);
  margin-left: 10px;
}

.stars-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.stars-container > p {
  margin-left: auto;
}

.free h1 {
  text-align: center;
  padding: 60px;
}

.free {
  background-color: #071629;
  color: white;
  display: flex;
  flex-direction: column;
}

.membership-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.membership {
  text-align: center;
  padding: 20px;
  margin: 0 50px;
  width: 257px;
}

.membership img {
  margin-bottom: 25px;
}

.membership h2 {
  padding-bottom: 20px;
  font-size: 18px;
}

.membership p {
  line-height: 26px;
  font-size: 14px;
  color: #ffffff;
}

.free button {
  background-color: rgb(201, 82, 201);
  color: whitesmoke;
  font-size: 14px;
  padding: 15px 32px;
  border: none;
  border-radius: 26px;
  margin: 50px 10px 80px 10px;
  letter-spacing: 0.1px;
  cursor: pointer;
  box-shadow: 0px 4px 8px black;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 250px;
}

footer {
  background-color: #071629;
  width: 100%;
  height: 250px;
}

.footer-cnt > img {
  width: 170px;
  height: 30px;
  padding-top: 70px;
}

.footer-cnt {
  width: 70%;
  margin: 50px auto;
  overflow: hidden;
}

.footer-cnt > div {
  float: right;
  padding: 70px 0 70px 70px;
}

.footer-cnt > div > ul {
  list-style-type: none;
  padding: 0;
}

.footer-cnt > div > ul > li {
  width: 80px;
  text-decoration: none;
  color: white;
  float: left;
}

.text {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.faq-section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 40px;
  background: #fff;
}

.faq-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 60px;
  letter-spacing: 0px;
  font-weight: 300;
}

.faq-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.faq-item {
  padding: 20px;
  margin: 30px;
}

.faq-item h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.faq-item p {
  font-size: 14px;
  color: #555;
  line-height: 24px;
}
