
header {
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top; 
    z-index: -1;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;    
}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
    
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    
}
/* section banner*/
.b-content {
    text-align: center;
    padding-top: 225px;      
}

.b-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 110px;
    font-weight: bold;    
    text-align: center;
    color: #ffffff;
    margin: -50px 0 0 -30px;

}

.categories {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.categories li {
    margin: 0px 40px;       
    display: inline-block;  
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
        
}

.register{
    width:162px;
    height: 44px;
    background-color: #C271FF;
    color: #FFFFFF;
    border: none;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border-radius: 22px;
    box-shadow: 0px 0px 20px 3px #494949;
    cursor: pointer;
    font-weight: bold;
}


/* learn the pros*/
.learn{
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn h4{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 140px;
    font-size: 32px;
    font-weight: 300;
    color:#ffffff;
}
.learn h4 span {
    color: #C271FF;
    font-weight: bold;
}

/* student content*/
.student-container {
    width: 80%;
    margin: 100px auto;
    padding-bottom: 100px;
}
.student {
    width: 23%;
    display: inline-block;
    color: #ffffff;
    text-align: center;

}
.student>img {
    display: block;
    margin: 0 auto;
}
.student>h3{
    font-size: 18px;
    height: 27px;
}
.student>p {
    font-style: italic;
    font-size: 15px;
}

