.forth-section {
  background-color: #071629;
  width: 100%;
  height: 593px;
}

.forth-section h1 {
  padding-top: 70px;
  text-align: center;
  font-size: 32px;
  color: white;
}

.smile-logo {
  width: 257px;
}

.smile-logo img {
  width: 43px;
  height: 35px;
}
.smile-logo h2 {
  font-weight: bold;
}
.four-part {
  width: 800px;
  margin: 0 auto;
}
.equal-parts {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.equal-parts > img {
  width: 45px;
}

.equal-parts h2 {
  color: white;
  margin-top: 20px;
}

.equal-parts p {
  color: white;
  line-height: 1.6;
  font-size: 14px;
  margin-top: 10px;
}

.forth-section button {
  display: block;
  width: 162px;
  height: 44px;
  font-size: 14px;
  font-weight: bold;
  margin: 0px auto;
  background: #c271ff;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.color {
  color: #c271ff;
}
