
.fifth-section{
    background-color: #ffffff;
}

.fifth-section h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

.sec-faq{
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.main-faq{
    flex-direction: column;
    margin-left: 130px;
}

.inside-faq{
    width: 300px;
}

.inside-faq h2{
    font-weight: bold;
}

.inside-faq p{
    color:rgb(0 0 0 / 0.5);
}